

:root.theme-dark {
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --main-text-color: #f1b3ce;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --main-heading-color: #000028;
  --section-heading-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
}

/*.theme-dark .header_rec {
  display: block;
}*/
