/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно */
  :root.theme-light {
    --accent-color: #ff8dcb;
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --nav-color: #353430;
    --nav-hover-color: rgb(50 49 45 / 0.4);
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
  }
  
  .theme-light .page {
    /* Вам также нужно будет написать ряд подобных селекторов */
  }
  

  
  .theme-light .header_rec {
    display: none;
  }
